* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

/* Header */

.fluid-container-xs {
    position: relative;
}

.flex-row {
    display: flex;
    align-items: center;
}

#nav-section ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#nav-section li {
    margin: 10px;
    padding: 5px;
}

@media (max-width: 768px) {

    #nav {
        flex-direction: column;
    }



    #nav-section ul {
        flex-direction: column; 
        align-items: flex-start;
    }

    #nav-section li {
        margin: 5px 0; 
        padding: 8px 0; 
    }
}


button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    text-decoration: none;
    color: white;
}

#nav-section li a {
    text-decoration: none;
    padding: 8px 16px; 
    border-radius: 10px;
    font-size: 20px;
    color: black;
    transition: background-color 0.3s, color 0.3s; 
}

#nav-section li a:hover {
    background-color: black;
    color: white;
}

#logo img {
    width: 150px;
    height: auto;
}

@media (max-width: 768px) {
    #logo img {
        width: 120px; 
    }
}

@media (max-width: 768px) {
    #nav-section ul {
        flex-direction: column; 
        align-items: flex-start;
    }

    #nav-section li {
        margin: 5px 0; 
    }

    #logo img {
        width: 120px; 
    }
}


/* section */

.sect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 446px; 
    background: url('/backgroung/supply-chain-representation-with-van-boxes.jpg') no-repeat center/cover;
    z-index: -2;
}

@media (max-width: 768px) {
    .sect::before {
        height: 530px; 
    }
}

@media (max-width: 480px) {
    .sect::before {
        height: 550px;
    }
}



.text {
    font-size: 40px;
    margin: 100px 20px 10px 20px; 
}

.but1 {
    margin-left: 20px; 
    margin-bottom: 50px; 
}

@media (min-width: 768px) {
    .text {
        margin: 100px 40px 10px 40px; 
    }

    .but1 {
        margin-left: 311px; 
        margin-bottom: 127px; 
    }

    #Services::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 541px;
        background: url("../backgroung/surface-with-blue-rudders-anchors-summer.jpg") no-repeat center center/cover;
        z-index: -2;
        opacity: 0.7;
    }
}

/* Button Styles */
.btn-new {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-new:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .text {
        margin: 50px 10px 10px 10px;
    }

    .btn1 {
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

/* Order Procedure */

.order-head {
    margin: 60px 0 15px;
}

.text-center {
    text-align: center;
}

/* Card Section */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 5%;
}

.card-img img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.card-content {
    font-size: 0.9rem;
    padding: 10px 5px;
}

@media (max-width: 1200px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}


/* Services */

#Services {
    position: relative;
    padding: 30px 5px 10px;
    margin-bottom: 30px;
    text-align: center;
}

#Services::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../backgroung/surface-with-blue-rudders-anchors-summer.jpg") no-repeat center center/cover;
    z-index: -2;
    opacity: 0.7;
}

.services-head {
    margin-top: 20px;
    margin-bottom: 15px;
}

#services-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    flex: 0 0 calc(25% - 40px);
    max-width: calc(25% - 40px);
    padding: 20px;
    text-align: center;
    border: 1px solid #c2a03e;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    margin: 0 10px;
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.service-card h4 {
    padding-top: 10px;
}

.btn {
    padding: 8px 16px;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .service-card {
        flex: 0 0 calc(33.33% - 40px);
        max-width: calc(33.33% - 40px);
    }
}

@media (max-width: 768px) {
    .service-card {
        flex: 0 0 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 576px) {
    .service-card {
        flex: 0 0 calc(100% - 40px);
        max-width: calc(100% - 40px);
    }
}


/* About Us */

#about-us {
    padding: 35px 10px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-left {
    width: 80%;
    margin-bottom: 20px;
}

.content-left h2 {
    font-size: 2rem;
    padding-bottom: 10px;
}

.delivery-boy-img {
    width: 80%;
    box-sizing: border-box;
}

.delivery-boy-img img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        gap: 20px;
    }

    .content-left {
        width: 40%;
        margin-bottom: 0;
    }

    .delivery-boy-img {
        width: 40%;
    }
}


/* Videos */

.Videos {
    padding: 50px 10px;
    text-align: center;
    background-color: rgb(168, 163, 163);
}

.videos-head {
    margin-bottom: 50px;
}

.videos-container {
    padding: 15px;
}

.video-text {
    padding: 10px 5px 30px;
}

@media (max-width: 768px) {
    .videos-head {
        font-size: 2rem;
    }

    .videos-container {
        padding: 10px;
    }

    .video-text {
        padding-bottom: 20px;
    }

    .col {
        margin-bottom: 20px;
    }

    iframe {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .videos-head {
        font-size: 1.5rem;
    }

    .videos-container {
        padding: 5px;
    }

    .video-text {
        padding-bottom: 10px;
    }
}


/* Slider */

/* Base Styles */

.slider button {
    margin: 15px 5px;
    font-size: 4rem;
    background-color: transparent;
    border: 0;
    outline: hidden;
}

@media (max-width: 768px) {
    .slider button {
        font-size: 3rem; 
        margin: 10px 3px; 
    }

    .slider img {
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .slider button {
        font-size: 2.5rem; 
        margin: 8px 2px; 
    }

    .slider img {
        width: 300px;
        height: 300px;
    }
}

/* Contact Us */

#contact-us {
    padding: 20px 0;
    margin-top: 76px;
    position: relative;
}

#contact-us::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 580px; 
    left: 0;
    background-color: #969696;
    z-index: -1;
    opacity: 0.4;
}

#contact-us h1 {
    margin-bottom: 50px;
    margin-top: 37px;
}

#contact-us img {
    width: 50px;
    height: 50px;
}

.contact-us-cards {
    backdrop-filter: blur(3px);
}

#form-section {
    margin-top: 30px;
}

.form-control {
    margin-bottom: 20px; 
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
}

.in-form {
    margin-bottom: 20px; 
}

#xyz-btn {
    width: 100%; 
}

#form-class {
    gap: 20px;
}

@media (max-width: 768px) {
    #contact-us::before {
        height: 880px; 
    }

    .contact-us-cards > div {
        flex: 0 0 100%; 
        max-width: 100%;
    }

    .contact-us-cards {
        flex-wrap: wrap;
        gap: 10px;
    }

    #form-class {
        gap: 5px;
    }

    #form-class {
        padding: 0 0 0 40px;
        gap: 10px;
    }

    .in-form textarea {
        width: 80%;
    }

    .in-form {
        margin-right: 0; 
    }
}

/* Footer */


#upper {
    padding: 70px 40px 0;
}

#footer-logos img {
    width: 20px;
    height: 20px;
}

.list,
.list1 {
    list-style-type: none;
    padding: 0; 
}

.list li,
.list1 li {
    margin: 10px;
}

.list a,
.list1 a {
    text-decoration: none;
    color: black;
}

#lower {
    width: 100%;
    background-color: rgb(163, 154, 154);
    color: white; 
    padding: 20px 20px 20px; 
}


@media (max-width: 768px) {
    #upper {
        padding: 40px 20px; 
    }

    #footer-logos img {
        width: 15px; 
        height: 15px; 
    }

    .list li,
    .list1 li {
        margin: 5px; 
    }
}

@media (max-width: 480px) {
    #upper {
        padding: 30px 10px; 
    }

    .list li,
    .list1 li {
        margin: 3px;
    }
}